* {
  padding: 0;
  margin: 0;
}

.satu {
  width: 120px;
  height: 120px;
  background-color: red;
  margin-right: 20%;
  text-align: justify;
  padding: 10px;
  border: 5px double black !important;
  box-sizing: border-box;
}

.dua {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.tiga {
  width: 100px;
  height: 100px;
  background-color: lime;
  float: right;
}

.empat {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.container {
  width: 500px;
  border: 2px solid black;
  margin: auto;
  padding: 10px;
}

.container img {
  float: left;
}

.circle {
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
}

.circlex {
  /* width: 100px;
  height: 100px; */
  float: left;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: blue;
}

.box3 {
  background-color: aqua;
}

.box4 {
  background-color: yellow;
}

.box5 {
  background-color: green;
}

.box6 {
  background-color: lime;
}

.box7 {
  background-color: rgb(74, 128, 96);
}

.box8 {
  background-color: rgb(96, 192, 17);
}

.box9 {
  background-color: rgb(88, 68, 68);
}

.box10 {
  background-color: rgb(11, 10, 10);
}

.clear {
  clear: both;
}

.kiri {
  width: 100px;
  height: 220px;
  float: left;
}

.tengah {
  height: 300px;
  width: 200px;
  float: left;
}

.kanan {
  width: 100px;
  height: 200px;
  float: left;
}

/* .grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
} */